/*responsive footer*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  /* Responsive website for tablets and under*/
  @media(max-width: 768px){
  
  }
  
  /* Responsive website for mobile */
  @media(max-width: 500px){
      label {
          height: 100px;
          width: 50px;
          margin: 3px;
          padding: 40px;
      }

      nav i{
          left: 1px;
          top: 20px;
      }

      nav ul li{
        padding: 30px;
        line-height: 1px;
        margin: 1px 1px;

      }
      
      nav ul li a{
        color: rgb(0, 0, 0);
        font-size: 17px;
        text-transform: uppercase;
        padding: 20px 0;
        font-weight: 500;
      }

      .HomeSection{
          height: 115vh;
          padding-top: 50px;
      }

      .HomeSection img{
          width: 400px;
          top: 500px;
          left: 35px;
      }

      .HomeSectionText h1{
          font-size: 25px;
          margin-top: -5px;
      }
      .HomeSectionPaddingText h1{
          font-size: 25px;
          margin-left: -40px;
      }

      .HomeSectionTestimonial h3{
          font-size: 16px;
          width: 350px;
      }
      
      .AppApresentation1{
        height: 120vh;
      }

      .AppApresentation1
      .AppApresentation1Text h1{
        padding-top: 400px;
        margin-left: 60px;
        font-size: 25px;
      }

      .AppApresentation1
      .AppApresentation1Text h3{
        color: var(--text-primary-color);
        padding-left: 60px;
        padding-top: 10px;
        font-size: 16px;
      }

      .AppApresentation1Image div svg{
        width: 800px;
        height: 400px;
        top: 850px;
      }

      .AppFeatures{
          height: 70vh;
      }

      .AppFeatures 
      .AppFeaturesText h1{
          font-size: 25px;
      }

      .AppFeatures 
      .AppFeaturesText h3{
          font-size: 16px;
          width: 400px;
          padding-left: 50px;
          text-align: center;
      }

      .AppFeaturesImage div{
          margin-top: -100px;
          margin-left: -60px;
          width: 500px;
      }
        
  }
  